<nav style="box-shadow: 0 0 2rem 0 rgba(33,37,41,.1);" class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
        <div></div>
        <div class="nav-item dropdown btn">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Username
            </a>
            <ul style="left:-40%;" class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>