<style>
    .footer-99382 {
        background-color: #5b5555;
        padding: 50px 0;
        color: #fff;
        margin-top: 50px;
        /* Thêm margin-top để giảm sự lấn lên nội dung trên */
        /* Thêm padding-top và padding-bottom để tạo khoảng cách ở trên và dưới nội dung trong footer */
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footer-99382 h3 {
        color: #fff;
        /* Chỉnh màu chữ của các tiêu đề h3 thành màu trắng */
    }

    .footer-99382 p {
        color: #d3d3d3;
        /* Thay đổi màu chữ của đoạn văn bản trong footer (nếu cần) */
    }
</style>

<footer class="footer-99382">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pr-md-5">
                <a href="#" class="footer-site-logo d-block mb-4">C6 CLOTHING</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quasi perferendis ratione
                    perspiciatis accusantium.</p>
            </div>
            <div class="col-md">
                <h3>Discover</h3>
                <ul class="list-unstyled nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md">
                <h3>About</h3>
                <ul class="list-unstyled nav-links">
                    <li><a href="#">Clients</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Journal</a></li>
                </ul>
            </div>
            <div class="col-md">
                <h3>Help</h3>
                <ul class="list-unstyled nav-links">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Partners</a></li>
                </ul>
            </div>
            <div class="col-md">
                <h3>Follow Us</h3>
                <ul class="social list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fas fa-phone-square-alt"></i></a></li>
                    <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 text-center">
                <div class="copyright mt-5 pt-5">
                    <p><small>&copy; C6 CLOTHING.</small></p>
                </div>
            </div>
        </div>
    </div>
</footer>