<div class="col-lg-10" id="product-list-comp">
    <span id="total-pages" hidden="true">{{totalPages}}</span>
    {{>products}}
    <div class="row">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {{#list totalPages page}}
                {{this}}
                {{/list}}            
            </ul>
        </nav>
    </div>
</div>

