<div class="col-lg-10" id="product-list-comp">

    {{>product_list_comp_products}}
    <div class="row">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {{#list totalPages prev page next}}
                {{this}}
                {{/list}}            
            </ul>
        </nav>
    </div>
</div>

