<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center font-weight-bold ">ABOUT US</h2>
                <hr>
                <p>Welcome to our website – the hub for global youth, where style meets convenience. We offer a diverse
                    collection of fashion products ranging from t-shirts, shirts to jeans, shorts, and more. Blending
                    the latest trends with top-notch quality, we pledge to deliver the ultimate online shopping
                    experience.

                    With worldwide shipping, we present you with an opportunity to explore a myriad of fashion from
                    reputable international brands. Our user-friendly website allows effortless browsing, enabling you
                    to pick your favorites and complete your shopping journey in just a few simple steps.

                    Join us in discovering new inspirations, crafting your unique style every day. Our dedicated and
                    experienced support team is always ready to assist you with any inquiries.

                    Explore today and turn our website into your fashion haven!</p>
                    <hr>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0   mb-3">
            <div class="col-12 col-lg-6">
                <div class="card bg-light p-3 m-0">
                    <div class="row gy-3 gy-md-0 align-items-md-center">
                        <div class="col-md-5">
                            <img src="./assets/img/about-img-2.jpg" class="img-fluid rounded-start" alt="Why Choose Us">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body p-0">
                                <h2 class="card-title h4 mb-3">Co-Founder</h2>
                                <p class="card-text lead">Nguyen Hoang Khiem - 21127360</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card bg-light p-3 m-0">
                    <div class="row gy-3 gy-md-0 align-items-md-center">
                        <div class="col-md-5">
                            <img src="./assets/img/about-img-1.jpg" class="img-fluid rounded-start"
                                alt="Visionary Team">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body p-0">
                                <h2 class="card-title h4 mb-3">Co-Founder</h2>
                                <p class="card-text lead">Le Huu Trong - 21127190</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-3 gy-md-4 gy-lg-0">
            <div class="col-12 col-lg-6">
                <div class="card bg-light p-3 m-0">
                    <div class="row gy-3 gy-md-0 align-items-md-center">
                        <div class="col-md-5">
                            <img src="../public/images/category bag.png" class="img-fluid rounded-start" alt="Why Choose Us">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body p-0">
                                <h2 class="card-title h4 mb-3">Co-Founder</h2>
                                <p class="card-text lead">Pham Van Minh - 21127111</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card bg-light p-3 m-0">
                    <div class="row gy-3 gy-md-0 align-items-md-center">
                        <div class="col-md-5">
                            <img src="../public/images/category accessories.png" class="img-fluid rounded-start"
                                alt="Visionary Team">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body p-0">
                                <h2 class="card-title h4 mb-3">Co-Founder</h2>
                                <p class="card-text lead">Phan Van Nguyen - 21127121</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>