<div class="container pb-4 h-100">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h1 class="mb-4">{{title}}</h1>
                    <form id="form" action="{{form-action}}" method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label">Userame</label>
                            <input type="text" class="form-control" name="username" id="username">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input class="form-control" name="password" id="password">
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input class="form-control" name="name" id="name">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" id="email" class="form-control" name="email">
                        </div>
                        <div class="mb-3">
                            <label for="permission" class="form-label">Role</label>
                            <select class="form-select" id="permission" name="permission">
                                <option value="1">User</option>
                                <option value="2">Admin</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>