<div style="width:100%;height: 100%;" class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column rounded shadow bg-white">
        <h5 class="text-start ps-2 text-secondary mt-2 mb-3">Sales per month</h5>
        <canvas id="myChart" style="width:100%;max-width:800px; height: 400px;"></canvas>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
    $.get("https://localhost:5000/admin/transactions")
        .done(function (res) {
            const data = res;
            const xValues = [];
            const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            for (i = 1; i < 13; i++) {
                const month_data = data.filter(e => e.date.getMonth() === i)
                xValues.push(month_data.reduce((a, b) => a + b, 0))
            }

            new Chart("myChart", {
                type: 'line',

                data: {
                    labels: months,
                    datasets: [{
                        label: 'Sale ($)',
                        fill: false,
                        backgroundColor: "rgba(0,0,255,1.0)",
                        borderColor: "rgba(0,0,255,0.1)",
                        data: xValues
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            stacked: false,
                            gridLines: {
                                color: "transparent"
                            }
                        }]
                    },
                    legend: {
                        display: false
                    },
                    plugins: {
                        filler: {
                            propagate: false
                        }
                    },
                }
            });
        });
</script>