<div class="container pb-4 h-100">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h1 class="mb-4">{{title}}</h1>
                    <form id="form">
                        <div class="mb-3">
                            <label for="title" class="form-label">Name</label>
                            <input required type="text" class="form-control" name="name" id="title" placeholder="Name">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input required type="text" class="form-control" name="email" id="email"
                                placeholder="Email">
                        </div>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>