<!-- Modal -->
<div class="container">
    <div class="row">
        <h1 class="text-center">Update information</h1>
        <form>
            <div class="form-floating mb-3">
                <input name="username" type="text" class="form-control" id="un" placeholder="Username" value="{{user.Username}}" readonly>

                <label for="un">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input name="name" type="text" class="form-control" id="FullName" placeholder="Name" value="{{user.Name}}">
                <label for="name">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input name="email" type="email" class="form-control" id="Gmail" placeholder="Email"
                    value="{{user.Email}}">
                <label for="email">Email</label>
            </div>
            <hr>
            <div class="row">
                <div class="justify-content-center d-flex">
                    <button style="width: 300px; height: 100px" class="btn btn-sm btn-light btn-update" value="{{user.Username}}"  onclick="return confirm('Are you sure you want to edit?')">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>